body {
    background-color: lightgrey;
}

textarea {
    resize: vertical; /* erlaubt nur vertikales Resizing */
	width: 90%;
}

.thick-black-border {
  border: 2px solid black;
}

.thick-black-border th,
.thick-black-border td {
  border: 22px solid black;
}
 