body {
    background-color: lightgrey;
}

/* .showLast { */
/*     display: block; */
/*     border: 1px solid #68e10b; */
/*     padding: 1px; */
/*     margin: 1px; */
/* } */

.thick-black-border {
  border: 2px solid black;
}

.thick-black-border th,
.thick-black-border td {
  border: 22px solid black;
}
 