@charset "UTF-8";

body {
    background-color: lightgrey;
    height: 100vh;
}

.tablehead {
    color: darkblue; /* Setzt die Textfarbe auf Blau */
    font-size: 20px; /* Setzt die Schriftgröße auf 24 Pixel */
    font-weight: bold; /* Setzt die Schriftart auf Bold */
}

section.search {
	background-image: url("../images/1.jpg");
	background-size: cover;
}