@charset "UTF-8";

body {
    background-color: lightgrey;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.tablehead {
    color: darkblue; /* Setzt die Textfarbe auf Blau */
    font-size: 20px; /* Setzt die Schriftgröße auf 24 Pixel */
    font-weight: bold; /* Setzt die Schriftart auf Bold */
}

section.search {
	background-image: url("../images/1.jpg");
	background-size: cover;
}

.search-headline {
		color: black; 
		-webkit-text-stroke: 2px white;
		 font-size: 48px;
}

.thick-black-border {
  border: 2px solid black;
}

.thick-black-border th,
.thick-black-border td {
  border: 22px solid black;
}

::placeholder {
    color: black; 
    opacity: 1; 
  }

  footer {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

main.main-content {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
}