@charset "UTF-8";

body {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.tablehead {
    color: darkblue; /* Setzt die Textfarbe auf Blau */
    font-size: 20px; /* Setzt die Schriftgröße auf 24 Pixel */
    font-weight: bold; /* Setzt die Schriftart auf Bold */
}

section.search {
	background-image: url("../images/1.jpg");
	background-size: cover;
}

.search-headline {
		color: black; 
		-webkit-text-stroke: 2px white;
		 font-size: 48px;
}

.thick-black-border {
  border: 2px solid black;
}

.thick-black-border th,
.thick-black-border td {
  border: 22px solid black;
}

::placeholder {
    color: black; 
    opacity: 1; 
  }

  footer {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

main.main-content {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
}

.card {
    border-radius: 18px;
    overflow: hidden; /* Force the card to clip its internal content to its own rounded corners */

}

/* The .level-right class uses flexbox, which needs align-items for vertical centering. */
.card-table .table td.level-right {
    align-items: center;
}

/* Vertically align content in the card tables */
.card-table .table td {
    vertical-align: middle;
}

/* Center the 'Look' button and remove the border underneath its cell */
.card-table .table td.level-right {
    align-items: center;
    border-bottom: 0;
}

 /* keep Chrome from auto-darkening on this page (when not in dark mode) */
body:not(.theme-dark) input.input,
body:not(.theme-dark) textarea.textarea,
body:not(.theme-dark) .card,
body:not(.theme-dark) .table {
    background-color: #ffffff;
    color: #4a4a4a;
}

body:not(.theme-dark) .card-header-title {
    background-color: #e0d49a;
    color: #4a4a4a;
}

body:not(.theme-dark) .table.is-striped tbody tr:nth-child(even) {
    background-color: lightgrey;
        color: #4a4a4a; /* Ensure card header text is dark */
    /* Bulma's $grey-lighter */
}

body:not(.theme-dark) .table.is-striped tbody tr:nth-child(odd) {
    background-color: #ffffff !important;
}
body:not(.theme-dark) .table td,
body:not(.theme-dark) .table th {
    color: #363636;
}