<!-- FILEPATH: /home/jeg/git/intellectron-cognition-engine/src/main/resources/templates/input.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>feed your intellectron</title>
    <link rel="stylesheet" href="styles.css" />
    <!-- Falls du eine separate CSS-Datei hast -->
</head>

<form action="/input" method="post">
    
    <label for="article">Article/Text:[no function :) ]</label><br>
    <input type="text" id="article" name="article"><br>

    <label for="author">Author first name</label><br>
    <input type="text" th:field="${author.authorFirstName}" /><br>

    <label for="author">Author family name</label><br>
    <input type="text" th:field="${author.authorFamilyName}" /><br>

    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>

    <label for="tekst">Text:</label><br>
    <textarea id="tekst" th:field="${tekst.content}" ></textarea><br>

    <label for="source">Source:</label><br>
    <input type="text" id="source" name="source"><br>

    <label for="timestamp">Timestamp:</label><br>
    <input type="datetime-local" id="timestamp" name="timestamp"><br>

    <label for="tag">Tag:</label><br>
    <input type="text" id="tag" name="tag"><br>

    <label for="reference">Reference:</label><br>
    <input type="text" id="reference" name="reference"><br>

    <input type="submit" value="Submit">
</form>
