<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <th:block th:insert="~{fragments/common :: head('Login')}"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

    <nav th:replace="~{fragments/common :: navbar}"></nav>
    
    <section class="hero is-fullheight-with-navbar is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-4">
                        <div class="box login-container has-text-centered">
                            <h1 class="title">Login</h1>
                            <p class="subtitle">Please sign in to continue</p>
                            
                            <a class="button google-btn" href="/oauth2/authorization/google">
                                <span class="icon">
                                    <i class="fab fa-google"></i>
                                </span>
                                <span>Sign in with Google</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{fragments/common :: footer}"></footer>
</body>

</html>
