<!-- FILEPATH: /home/jeg/git/intellectron-cognition-engine/src/main/resources/templates/search.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Let your intellectron find</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/search.css" />
        <script type="text/javascript" src="../js/search.js" defer></script>
</head>

<body>
    <h1>The Fabulous Search Page</h1>
    <div>
        <form action="/search" method="get">
            <label for="tag">Tag:</label>
            <input type="text" id="search" name="q" />
            <button type="submit">Search</button><br />
        </form>
    </div>
    <hr />
    <div>
        <form action="/search" method="get">
            <label for="note">Note:</label>
            <input type="text" id="search" name="q" />
            <button type="submit">Search</button><br />
        </form>
    </div>
    <hr />
    <div>
        <form action="/search" method="get">
            <label for="author">Author:</label>
            <input type="text" id="search" name="q" />
            <button type="submit">Search</button><br />
        </form>
    </div>
    <hr />
    <div>
        <form action="/search" method="get">
            <label for="text">Text:</label>
            <input type="text" id="search" name="q" />
            <button type="submit">Search</button><br />
        </form>
    </div>
    <hr />
    <div>
        <form action="/search" method="get">
            <label for="zettel">Topic:</label>
            <input type="text" id="search" name="q" />
            <button type="submit">Search</button><br />
        </form>
    </div>
</body>

</html>