<!-- FILEPATH: /home/jeg/git/intellectron-cognition-engine/src/main/resources/templates/search.html -->
<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Fabulous Intellectron Search Page</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/css/bulma.css" />
	<link rel="stylesheet" href="/css/search.css" />
	<script type="text/javascript" src="/js/search.js" defer></script>
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
	<nav th:replace="fragments/common :: navbar"></nav>

	<section class="hero is-small is-danger">
		<div class="hero-body">
			<p class="title is-1 has-text-centered">The Fabulous Intellectron
				Search Page</p>
			<p class="subtitle has-text-centered">it's the Zettel that counts</p>
		</div>
	</section>

	<section class="search">
		<h2 class="title is-2 has-text-black search-headline">Search a Zettel</h2>
		<div>

			<!--         TopicSuche -->
			<form th:action="@{/search/topic/}" method="get">
				<input type="text" name="topicFragment" placeholder="Topic eingeben">
				<button class="button is-small is-warning" type="submit">Suchen</button>
			</form>
			<!-- NoteSuche -->
			<form th:action="@{/search/note/}" method="get">
				<input type="text" name="noteFragment" placeholder="enter note (fragment)">
				<button class="button is-small is-warning" type="submit">Suchen</button>
			</form>
			<!-- TextSuche -->
			<form th:action="@{/search/text/}" method="get">
				<input type="text" name="textFragment" placeholder="enter text (fragment)">
				<button class="button is-small is-warning" type="submit">search Zettel via text (fragment)</button>
			</form>
		</div>
		<!--         Tagsuche -->
		<h2 class="title is-2 has-text-black search-headline">Search a Tag</h2>
		<form th:action="@{/search/tag/}" method="get">
			<input type="text" name="tagFragment" placeholder="Tag eingeben">
			<button class="button is-small is-warning" type="submit">Suchen</button>
		</form>
		<h2 class="title is-2 has-text-black search-headline">Search an Author</h2>
		<div>
			<form th:action="@{/search/author/}" method="get">
				<input type="text" name="lastName" placeholder="enter Author's family name" />
				<button class="button is-small is-warning" type="submit">Search</button>
				<br />
			</form>
		</div>
		<h2 class="title is-2 has-text-black search-headline">Search a Text</h2>
		<div>
			<form th:action="@{/search/text4tekst/}" method="get">
				<input type="text" name="textFragment" placeholder="enter text (fragment)">
				<button class="button is-small is-warning" type="submit">Suchen</button>
			</form>

		</div>
	</section>

	<section class="show-last">
		<h2 class="title is-2 has-text-black"> let your zettel inspire you:</h2>
		<div class="columns">
			<div class="column is-6">
				<div class="card events-card">
					<header class="card-header">
						<p class="card-header-title">Last 10 Zettel</p>
						<a href="#" class="card-header-icon" aria-label="more options"> <span class="icon"> <i
									class="fa fa-angle-down" aria-hidden="true"></i>
							</span>
						</a>
					</header>
					<div class="card-table">
						<div class="content">
							<table class="table is-fullwidth is-striped">
								<tbody>

									<tr th:each="zettel : ${zettels}">
										<td width="5%"><i class="fa fa-bell-o"></i></td>
										<td
											th:text="${zettel.topic} + ' ( . . .)  : ' + ${zettel.note.noteText} + ' (. . .)'">
											Anzeige vom Topic & erste Wörter der Notiz</td>
										<td class="level-right"><a class="button is-small is-primary"
												th:href="@{/zettel/{zettelId}(zettelId=${zettel.zettelId})}"
												target="_blank">Look</a></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>

			<div class="column is-6">
				<div class="columns is-multiline">
					<div class="column is-12">
						<div class="card">
							<header class="card-header">
								<p class="card-header-title">10 random Zettel </p>
								<a href="#" class="card-header-icon" aria-label="more options"> <span class="icon"> <i
											class="fa fa-angle-down" aria-hidden="true"></i>
									</span>
								</a>
							</header>
							<div class="card-table">
								<div class="content">
									<table class="table is-fullwidth is-striped">
										<tbody>
											<tr th:each="zettel : ${randomZettels}">
												<td width="5%"><i class="fa fa-bell-o"></i></td>
												<td
													th:text="${zettel.topic} + ' ( . . .)  : ' + ${zettel.note.noteText} + ' (. . .)'">
													Anzeige vom Topic & erste Wörter der Notiz</td>
												<td class="level-right"><a class="button is-small is-primary"
														th:href="@{/zettel/{zettelId}(zettelId=${zettel.zettelId})}"
														target="_blank">Look</a></td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
	</section>

	<div th:if="${tag}">
		<h2>
			Search Results for Tag: <span th:text="${tag.tagText}"></span>
		</h2>

		<div th:if="${#lists.isEmpty(zettels)}">
			<p>No zettels found for this tag.</p>
		</div>

		<div th:unless="${#lists.isEmpty(zettels)}">
			<h3>Zettels:</h3>
			<ul>
				<li th:each="zettel : ${zettels}">
					<!-- Display zettel details here --> <span th:text="${zettel.topic}"></span>
					<!-- Add more zettel fields as needed -->
				</li>
			</ul>
		</div>
	</div>

	<!-- 			<section class="show-detail"> -->
	<!-- 			<h2 class="title is-2 has-text-black" > inspiration in more detail</h2> -->
	<!-- 					show last 10 zettels -->
	<section class="show-last">
		<h2 class="title is-2 has-text-black"> let your zettel inspire you in more detail:</h2>
	</section>


	<section class="hero is-small is-warning">
		<div class="hero-body">
			<p class="title  has-text-centered ">last 10 zettels</p>
		</div>
	</section>
	<div th:replace="fragments/common :: zettel-table(zettels=${zettels})"></div>
	
	<section class="hero is-small is-danger">
		<div class="hero-body">
			<p class="title has-text-centered">10 random zettels</p>

		</div>
	</section>
	<div th:replace="fragments/common :: zettel-table(zettels=${randomZettels})"></div>


</body>