<!DOCTYPE html>
<html
	class="has-navbar-fixed-top"
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
>

<head>
<title>tag List, found by intellectron</title>
<meta charset="UTF-8" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<link
	rel="preload"
	href="/css/bulma.css"
	as="style"
>
<link
	rel="preload"
	href="/css/tags.css"
	as="style"
>
<link
	rel="stylesheet"
	type="text/css"
	href="/css/bulma.css"
/>
<link
	rel="stylesheet"
	type="text/css"
	href="/css/tags.css"
/>
<link rel="stylesheet" type="text/css" href="/css/dark-mode.css">
<!-- <script type="text/javascript" src="/js/author.js" defer></script> -->
<link
	rel="icon"
	type="image/x-icon"
	href="/favicon.ico"
>
<script
	src="/js/common.js"
	defer
></script>
<script type="text/javascript" src="/js/dark-mode.js" defer></script>

</head>

<body>
	<nav th:replace="fragments/common :: navbar"></nav>
	<div class="main-container">
		<section class="hero is-small is-primary">
			<div class="hero-body">
				<p class="title is-1 has-text-centered">your intellectron shows
					your tag list</p>
				<p class="subtitle has-text-centered">
					search term: <span id="searchTerm"></span>
				</p>
			</div>
		</section>

		<h1 class="title is-3">tag list</h1>
		<div th:if="${#lists.isEmpty(wantedTags)}">
			<p>No tags found.</p>
		</div>

		<div th:unless="${#lists.isEmpty(wantedTags)}">
			<h2 class="title is-5">tags found:</h2>
			<ul>
				<li
					class="tag is-large"
					th:each="tag : ${wantedTags}"
				><a
					th:href="@{/search/tag/?tagFragment={tagText}(tagText=${tag.tagText})}"
					target="_blank"
					rel="noopener noreferrer"
				>
						<h4 th:text="${tag.tagText}"></h4> <!-- <p th:text="${tag.zettel}"></p> -->
						<!--TODO <a th:href="@{/author/{authorId}(authorId=${author.id})}" target="_blank">View Profile</a> --></li>
			</ul>
		</div>

		<div>
			<table>
				<thead>
					<tr>
						<th>tag</th>
						<th>Zettel</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="tag : ${wantedTags}">
						<td><span
							class="tag is-medium"
							th:text="${tag.tagText}"
						> <a
								th:href="@{/search/tag/?tagFragment={tagText}(tagText=${tag.tagText})}"
								target="_blank"
								rel="noopener noreferrer"
							></span></td>

						<td th:each="zettel : ${tag.zettels}"><a
							th:href="@{/zettel/{zettelId}(zettelId=${zettel.zettelId})}"
							target="_blank"
							rel="noopener noreferrer"
						> <span th:text="${zettel.topic}"></span></td>

					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<footer class="column is-narrow">
			<p>&copy; 2023-2024 Meine Firma. Alle Rechte vorbehalten.</p>
		</footer>
	</div>

</body>

</html>