<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>welcome to intellectron</title>
    <link rel="stylesheet" href="../css/bulma.css" />
    <link rel="stylesheet" href="/css/zettel.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!-- Falls du eine separate CSS-Datei hast -->
          <!-- XXX how Trevor does it -->
      <!-- <script
        src="https://kit.fontawesome.com/a7bea4f05b.js"
        crossorigin="anonymous"
      ></script> -->

</head>

<body class="has-background-grey-lighter  columns is-flex-direction-column  is-fullheight-100vh" >
    <header >
        <h1 class="is-size-2 has-text-success has-text-centered title is-family-sans-serif column is-narrow">
            Willkommen zu intellectron, die Revolution auf dem Nischenmarkt der
            Orga-Apps
        </h1>   </header>
        <nav class="column m-6 px-3 is-center has-text-left ">
            <ul>
                <li><a href="input">Startseite</a></li>
                <li><a href="search">Suche</a></li>
                <li><a href="#">Über Uns</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>
 

    <footer  class="column is-narrow">
        <p>&copy; 2023-2024 Meine Firma. Alle Rechte vorbehalten.</p>
    </footer>
</body>

</html>