<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>welcome to intellectron</title>
    <link rel="stylesheet" href="/css/zettel.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!-- Falls du eine separate CSS-Datei hast -->
          <!-- XXX how Trevor does it -->
      <!-- <script
        src="https://kit.fontawesome.com/a7bea4f05b.js"
        crossorigin="anonymous"
      ></script> -->
      <!-- XXX how I did it at UDACITY -->
<!--       <link
        rel="stylesheet prefetch"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
      /> -->
      <!-- <link rel="stylesheet" href="css/app.css" /> -->
</head>

<body>
    <header>
        <h1>
            Willkommen zu intellectron, die Revolution auf dem Nischenmarkt der
            Orga-Apps
        </h1>
        <nav>
            <ul>
                <li><a href="input">Startseite</a></li>
                <li><a href="#">Über Uns</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <footer>
        <p>&copy; 2023 Meine Firma. Alle Rechte vorbehalten.</p>
    </footer>
</body>

</html>