<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>your intellectron shows</title>
    <link rel="stylesheet" href="css/input.css" />
    <!-- Falls du eine separate CSS-Datei hast -->
    <script type="text/javascript" src="../js/zettel.js" defer></script>
</head>
<body>
    <div>
        <span th:field="${zettel.topic}">Topic: </span>
        <div>
        <span th:text="|ID: ${zettel.zettelId}|"></span><br />
        </div>
        <span th:text="|Topic: ${zettel.topic}|"></span><br />
        <span th:text="|Note: ${zettel.note.noteText}|"></span><br />
        <span th:text="|Signatur: ${zettel.signature}|"></span><br />
        <span th:text="|Text: ${zettel.tekst.text}|"></span><br />
        <div th:each="tag:${zettel.tags}">
            <span th:text="|tagged: ${tag.tagText}"></span><br />
        </div>
            <div th:each="reference:${zettel.references}">
                <span th:text="|referres: ${reference.targetZettel}"></span><br />
            </div>
    </div>

</body>
</html>


