<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>your intellectron shows</title>
    <link rel="stylesheet" href="../css/zettel.css" />
    <!-- Falls du eine separate CSS-Datei hast -->
    <script type="text/javascript" src="../js/zettel.js" defer></script>
</head>

<body>
    <div id="zettel">

        <div>
            <p th:text="|ID: ${zettel.zettelId}|"></p>
        </div>
        <p th:text="|Topic: ${zettel.topic}|"></p>
        <p th:text="|Note: ${zettel.note.noteText}|"></p>

        <p th:utext="|Text: ${zettel.tekst.text}|"></p>
        <div th:each="tag:${zettel.tags}">
            <p th:text="|tagged: ${tag.tagText}"></p>
        </div>
        <p th:text="|Signatur: ${zettel.signature}|"></p>
        <div th:each="reference:${zettel.references}">
            <p th:text="|referres: ${reference.targetZettel}|"></p>
        </div>
        <p th:text="|Source: ${zettel.tekst.source}|"></p>
    </div>
    <form th:action="@{/zettel/{zettelId}/delete(zettelId=${zettel.zettelId})}" method="post" >
        <!-- <input type="hidden" th:value="${zettel.zettelId}" /> -->
        <button id="delete" type="submit">Delete Zettel</button>
    </form>
              
    <div><button id="change" type="button">Change Zettel</button></div>
</body>

</html>