<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>your intellectron shows</title>
    <link rel="stylesheet" href="../css/zettel.css" />
    <!-- Falls du eine separate CSS-Datei hast -->
    <script type="text/javascript" src="../js/zettel.js" defer></script>
</head>

<body>
    <div id="zettel">

<form action="/input" method="post" th:object="${ZettelDtoRecord}">
    <div>
         
        <p >Des Zettels ID:   <span id="zettelId" th:text="|${zettel.zettelId}|"></span></p>
    </div>
    <div>
        <label for="title">Title/Topic: </label>
        <textarea id="title" name="title" th:field="${zettel.topic}" rows="3" cols="23"
            autocomplete="on"></textarea><br />
        <!-- <input type="text" /> -->
    </div>
    <hr />
    <div>
        <label for="note">Notiz / note /thought:</label>
        <textarea id="notiz" name="article" th:field="${note.noteText}" rows="5" cols="33"
            autocomplete="on"></textarea><br />
        <!-- <input type="text"  /><br /> -->
    </div>
    <hr />
    <div>
        <label for="tekst">Text:</label>
        <textarea id="tekst" name="tekst" th:field="${tekst.text}" rows="5" cols="33"
            autocomplete="on"></textarea><br />
        <!-- <input id="tekst" th:field="${tekst.text}" /> -->
    </div>
    <hr />

    <!--       MEINE FUNKTIONIERENDE LÖSUNG FÜR EIN TAG -->
    <!--          <label for="tag">Tag: </label><br />
            <input type="text" id="tag" name="tag"  th:field="${tag.tagText}" /><br />
        </div> -->

    <div>
        <label for="tags">Tags: </label><br />
        <div id="tagsContainer">
            // Tags will be added here
            <div th:each="tag, status : ${tags}">
                <input type="text" th:id="'tag' + ${status.index}" th:name="'tags'" th:value="${tag.tagText}" />
                <button type="button" onclick="this.parentNode.remove()">rydde ut Tag</button>
            </div>

        </div>
        <button id="addTagButton" type="button">Add Tag</button>
    </div>
    <hr />

    <div id="authorFirstName">
        <label for="authorFirstName">Author first name</label><br />
        <div th:each="author, status : ${zettel.tekst.associatedAuthors}">
        <input type="text" th:id="${'authorFirstName' + status.index}"
            th:name="${'zettel.tekst.associatedAuthors[' + status.index + '].authorFirstName'}"
            th:value="${author.authorFirstName}" /><br />
            </div>
    </div>

    <hr />
<!--     <div>
        <label for="author">Author family name</label><br />
        <div th:each="zettel.tekst.associatedAuthors, status : ${zettel.tekst.associatedAuthors}"></div>
        <input type="text" th:id="'authorFamilyName' " th:name="'zettel.tekst.associatedAuthors.authorFamilyName[' +  ']'"
            th:value="${zettel.tekst.associatedAuthors}" /><br />
    </div> -->

<div id ="authorFamilyName">
    <label for="author">Author family name</label><br />
    <div th:each="author, status : ${zettel.tekst.associatedAuthors}">
        <input type="text" th:id="${'authorFamilyName' + status.index}"
            th:name="${'zettel.tekst.associatedAuthors[' + status.index + '].authorFamilyName'}"
            th:value="${author.authorFamilyName}" /><br />
    </div>
</div>

    <hr />
    <label for="timestamp">date of text:</label><br />
    <span th:text="|${tekst.textDate}|"></span><br />
    <span>change date:</span><br />
    <input type="date" id="timestamp" name="timestamp" th:field="${tekst.textDate}" /><br />
    <hr />

    <div>
        <label for="source">Source:</label><br />
        <input type="text" id="source" name="source" th:field="${tekst.source}" /><br />
    </div>
    <hr />
    <div>
        <label for="Signatur">signature to which should be referred / Signatur, auf die verwiesen werden
            soll:</label><br />
        <div id="signatureContainer">
            // Signature will be added here
            <div th:each="reference, status : ${references}">
                <input type="number" min="100000000000" max="999999999999" pattern="[0-9]{12}" required
                    th:id="'signature' + ${status.index}" th:name="'references'"
                    th:value="${reference.targetZettel}" />
            </div>
            <!--             <input type="text" id="signature" name="signature" th:field="${reference.targetZettel}" /><br /> -->
            <button id="addReferenceButton" type="button">Add Reference</button>
        </div>
        <hr />
    <!--  Submit / Change Zettel -->   
        <input type="submit" id="submit" value="Submit" />
</form>
    </div>
  <!--   Delete Zettel -->
    <div><button id="openDeleteModal" type="button">delete</button></div>

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to delete this Zettel?</p>
            <button id="cancel" type="button">Cancel</button>
            <form th:action="@{/zettel/{zettelId}/delete(zettelId=${zettel.zettelId})}" method="post">
                <!-- <input type="hidden" th:value="${zettel.zettelId}" /> -->
                <button id="delete" type="submit">Delete Zettel</button>
            </form>
        </div>
    </div>


</body>

</html>